* {
  font-family: "NotoSansKR";
}
/* css 전역변수 */
:root {
  /* main bg */
  --main-bg-color: #f8f8f8;
  /* main color */
  --primary-color: #6593e8;
  /* sub color */
  --secondary-color: #222222;
  /* white color */
  --white-color: #ffffff;
  /* black color */
  --black-color: #000000;
}

/* 메인 bg 중앙정렬 및 규격 */
.main_background {
  background-color: var(--main-bg-color);
  width: 375px;
  height: 812px;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* statusbar 공통 */
.main_statusbar {
  display: flex;
  justify-content: space-between;
}

.main_statusbar p {
  padding: 14px 0 0 29.33px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: var(--black-color);
}

.main_statusbar img {
  padding: 15px 14px 0 0;
}

/* week css */
.week {
  margin-left: 16px;
  margin-right: 16px;
}

.week_location {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  margin-top: 34px;
  margin-bottom: 38px;
  align-items: center;
}

.week_location_text {
  display: flex;
  align-items: center;
}

.week_location_text p {
  margin-left: 8px;
  font-weight: 700;
}

.week_location_icon {
  display: flex;
  align-items: center;
  margin-right: 28px;
  cursor: pointer;
}

.week_location_icon img:nth-last-child(1) {
  margin-left: 26px;
}

/* week view css */
.week_mainview {
  background-color: var(--primary-color);
  width: 343px;
  height: 200px;
  border-radius: 8px;
}

.week_mainview_img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white-color);
}

.week_mainview_img img {
  width: 159.84px;
  height: 108px;
}

.week_mainview_img p {
  font-weight: 700;
  font-size: 64px;
}

.week_mainview_text {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-top: 24px;
}

.week_mainview_text span:nth-child(2) {
  display: flex;
  align-items: center;
}

.week_mainview_text span:nth-child(2) img {
  color: var(--white-color);
  width: 14px;
  height: 14px;
}

.week_mainview_text span {
  color: var(--white-color);
  padding-right: 20px;
  margin-bottom: 8px;
}

.week_mainview_text p {
  color: var(--white-color);
}

/* detail contents */
.week_mainview_detail {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  width: 343px;
  height: 91px;
  background: var(--white-color);
  border-radius: 8px;
  color: var(--secondary-color);
}
.week_mainview_detail_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.week_mainview_detail_item:nth-child(1) {
  margin-left: 12px;
}
.week_mainview_detail_item:nth-child(2) {
  padding: 0 44px 0 44px;
  border-left: 0.5px dashed var(--primary-color);
  border-right: 0.5px dashed var(--primary-color);
}
.week_mainview_detail_item:nth-child(3) {
  margin-right: 12px;
}

.week_mainview_detail_item p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  margin: 8px 0 8px 0;
}

.week_mainview_detail_item span {
  font-size: 10px;
  line-height: 11px;
  font-weight: 400;
}

/* weekly weather */
.week_weekly {
  margin-top: 42px;
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 700;
}

.week_weekly h1 {
  display: flex;
}

.week-weather {
  width: 343px;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  /* -ms-overflow-style: none; */
}

.week-weather::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.week-weather__item {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
  width: 78px;
  height: 162px;
  background: var(--white-color);
  border-radius: 8px;
  cursor: pointer;
  color: var(--secondary-color);
}

/* .week-weather__item.active:nth-child(1) {
  background: var(--primary-color);
  color: #fff;
} */

.week-weather__item.active {
  background: var(--primary-color);
  color: var(--white-color);
}

.week-weather__day h5 {
  font-weight: 700;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 5px;
  /* color: var(--secondary-color); */
}

.week-weather__weather {
  padding: 0 8px 0 8px;
  /* border-bottom: 1px dashed; */
}

.week-line {
  border-bottom: 1px dashed;
  width: 52px;
}

.week-weather__temp {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
}
.week-weather__temp span {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.week-weather__temp span img {
  margin-right: 2px;
}

/* hour css */
/* hour 관련 css입니다. */
.hour {
  display: none;
}

.hour_headerText h1 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-top: 33px;
  padding-bottom: 30px;
  z-index: 1;
}

.hour-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 560px;
  overflow: scroll;
  overflow-x: hidden;
  white-space: nowrap;
}
.hour-weather::-webkit-scrollbar {
  display: none;
}

.hour-weather__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 343px;
  height: 62px;
  padding: 5.5px 0 5.5px 0;
  background: var(--white-color);
  border-radius: 8px;
  cursor: pointer;
  color: var(--secondary-color);
}

.hour-weather__item.active {
  background: var(--primary-color);
  color: var(--white-color);
}

.hour-weather__item.active .hour-weather__temp {
  background: var(--primary-color);
  color: var(--secondary-color);
}
.hour-weather__item.active .hour-weather__temp span:nth-child(2) {
  background: var(--primary-color);
  color: var(--white-color);
}

.hour-weather__time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hour-weather__time h5 {
  font-weight: 400;
  font-size: 12px;
  margin-left: 20px;
  margin-right: 40px;
}

.hour-weather__now {
  font-weight: 400;
  font-size: 8px;
  color: var(--white-color);
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 40px;
}

.hour-weather__temp {
  margin-right: 20px;
  font-size: 12px;
  font-weight: 400;
}

.hour-weather__temp span:nth-child(2) {
  color: #d0d0d0;
  margin-left: 23px;
}

/* common btn */
/* week & hour 공통 버튼 css */
.footer_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  position: absolute;
  width: 343px;
  height: 54px;
  left: 16px;
  top: 724px;
  background: var(--white-color);
  border-radius: 12px;
}

.footer_btn button {
  width: 343px;
  height: 48px;
  border-radius: 10px;
  border: none;
  background: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn.select {
  background: var(--secondary-color);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}

.footer_line span {
  position: absolute;
  width: 135px;
  height: 5px;
  left: calc(50% - 135px / 2);
  bottom: 8px;
  background: var(--black-color);
  border-radius: 10px;
}
